html, body {
	margin: 0;
	padding: 0;
}
input {
	border: 1px solid #000;
}
a { color: #000; }

#header {
	width: 100%;
	margin: 0px;
	padding: 10px;
	background: #cec;
	border-bottom: 1px solid #030;
}

#footer {
	width: 100%;
	margin: 0px;
	padding: 10px;
	background: #cec;
	border-top: 1px solid #030;
	border-bottom: 1px solid #030;
}

#content {
	padding: 10px;
}

.product {
	border: 1px solid #000;
	margin: 10px;
	padding: 10px;
	width: 500px;
}
